body{
  margin: 0;
  overflow:hidden;
  position: relative;
}
#screen{
  background: rgb(3, 18, 39);
  position: absolute;
}
#card{
/*position: absolute;
top: 0;*/
background: white;
width: 500px;
position: relative;
margin: 0 auto;
box-shadow: 0px 0px 10px;
top: 40px;
opacity: 0.9;

}
#card div{
padding: 20px;
overflow-y:scroll;
}
#card h1{
margin-top: 0;
color: rgb(213, 0, 0);
text-transform: uppercase;
font-weight: normal;
}
#card p{
	font-size: 22px;
	line-height: 30px;
}
#card img{
width: 100%;
}

/* misc */
.right{
text-align: right;
}